<ion-view>
  <ion-content>
    
    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="img/ionic.png" alt="">
        <b>Price ₹40</b>
        <p>
          Description/ Water On Demand Service
        </p>
        <p>
          <b>Vendor</b>
          <a href="#" class="subdued">Nice Herbal Water</a>
        </p>
      </div>
      <div class="row">
        <button class="button button-block button-calm button-buy" ng-click="delivery('bottle')">BUY</button>
        <button class="button button-block button-calm button-buy" ng-click="">Add Dispenser</button>
      </div>
    </div>

    <div class="list card">
    <div class="item item-body">
        <img class="full-image" src="img/ionic.png" alt="">
        <b>Price ₹70</b>
        <p>
          Description/ Water On Demand Service
        </p>
        <p>
          <b>Vendor</b>
          <a href="#" class="subdued">Bisleri</a>
        </p>
      </div>
      <button class="button button-block button-calm button-buy" ng-click="delivery('bottle')">BUY</button>
    </div>
    </div>
  </ion-content>

</ion-view>