<ion-view>
  <ion-content>
    <!-- <p style="text-align:center">We're currently available in Belundur</p> -->

    <div class="card" ng-repeat="item in product">
      <a class="item item-thumbnail-left" href="#/app/bottle">
        <img src="img/ionic.png">
        <h2>{{item.name}}</h2>
        <p>{{item.offer.name}}</p>
      </a>
    </div>

    <!-- <div class="card">
      <a class="item item-thumbnail-left" href="#/app/bottle">
        <img src="img/ionic.png">
        <h2>Get Me a Bottle</h2>
        <p>Water On Demand</p>
      </a>
    </div>

    <div class="card">
      <a class="item item-thumbnail-left" href="#/app/silver">
        <img src="img/ionic.png">
        <h2>Silverize My Service</h2>
        <p>Silver Offer</p>
      </a>
    </div>

    <div class="card">
      <a class="item item-thumbnail-left" href="#/app/gold">
        <img src="img/ionic.png">
        <h2>Goldify My Bottles</h2>
        <p>Gold Offer</p>
      </a>
    </div>

    <div class="card">
      <a class="item item-thumbnail-left" href="#/app/platinum">
        <img src="img/ionic.png">
        <h2>Platinum Maximum</h2>
        <p>Platinum Offer</p>
      </a>
    </div>

    <div class="card">
      <a class="item item-thumbnail-left" href="#/app/biz">
        <img src="img/ionic.png">
        <h2>Water your Business</h2>
        <p>Biz Offer</p>
      </a>
    </div> -->
  </ion-content>
</ion-view>